################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RomanNumerals/.vs/RomanNumerals
bin/
obj/
