################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RomanNumerals/.vs/RomanNumerals
bin/
obj/
/RomanNumerals/RomanNumerals.Api/.config
/RomanNumerals/RomanNumerals.Api/Properties
/RomanNumerals/RomanNumerals.Web/.config
/RomanNumerals/RomanNumerals.Web/Properties
